header {
    background-color: aqua;
}
header h1 {
    color: green;
    font-size: 150px;
}

@media screen and (max-width: 992px) {
    header {
        background-color: red;
    }
    header h1 {
        font-size: 100px;
    }
}

@media screen and (max-width: 600px) {
    header {
        background-color:darkorange;
    }
    header h1 {
        font-size: 100px;
    }
}