header {
    background-colour: aqua;
}
header h1 {
    colour: green
    font-size: 150px;
}

@media screen and (max-width: 992px) {
    header {
        background-colour: red;
    }
    header h1 {
        font-size: 100px;
    }
}

@media screen and (max-width: 600px) {
    header {
        background-colour: rgb; (207, 248, 59);
    }
    header h1 {
        font-size: 100px;
    }
}